
.ListContainer {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 60rem;
  margin: 0rem auto;
  padding: 0.5rem;
  gap: 0.5rem;
}

.ListItemContainer {
  color: #363537;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border: 0.1rem solid rgba(0, 0, 0, 0.233);
  gap: 1em;
  padding: 0.5rem 0.5rem 0 0.5rem;
  height: 480px;
}

@media only screen and (max-width: 62rem) {
  
  .ListContainer {
    width: 90%;
  }

  .ListItemContainer {
    flex-direction: column;
  }

  .formContainer {
    width: 90%;
  }
}

.ListItemHeader {
  flex: 0 0 60%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.ListItemHeader h2 {
  font-size: 1.75rem;
  margin: 0px; 
  overflow: hidden;
  overflow-wrap: break-word;
}

.ListItemHeader iframe {
  flex-grow: 2;
}

.ListItemHeader button {
  font-size: 1rem;
  border-radius: 0.10rem;
  flex: 0 0 1rem;
}

.ListItemChatContainer {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  background-color: lightslategrey;
  gap: 0.15rem;
}

.ListItemMessagesArea {
  font-size: 1.1rem;
  flex: 0 0 80%;
  background-color: lightslategrey;
  margin: 0 auto;
  width: 95%;
  overflow: auto;
  overflow-wrap: anywhere;
}

.ListItemSendMessages {
  align-self: flex-end;
  margin: 0 auto 0.5rem auto;
  flex-basis: 20%;
  box-sizing: border-box;
  background-color: rgb(191, 203, 214);
  width: 95%;
  resize: none;
}

.ListItemLastMessage {
  background-color: red;
}

.ListItemMessage:hover {
  background-color: rgb(191, 203, 214);
}

.ListItemSendMessages:active, .ListItemSendMessages:focus {
  background-color:white;
}

.CenterNoWidth {
  text-align: center;
}

.CenterWithWidth {
  margin: 0 auto;
}

.Scrollable-Element {
  scrollbar-width: thin;
}

.Hidden-Scrollable-Element {
  scrollbar-width: none;
}

.FormContainer {
  display: flex;
  flex-direction: column;
  width: 40rem;
  margin: 0rem auto;
}