
.ListContainer {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 60rem;
  margin: 0rem auto;
  padding: 0.5rem;
  gap: 0.5rem;
}

.ListItemContainer {
  color: #363537;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border: 0.1rem solid rgba(0, 0, 0, 0.233);
  gap: 0.25em;
  padding: 0.5rem 0.5rem 0 0.5rem;
  height: 480px;
}

@media only screen and (max-width: 62rem) {
  
  .ListContainer {
    width: 90%;
  }

  .ListItemContainer {
    flex-direction: column;
  }

  .formContainer {
    width: 90%;
  }
}

.ListItemHeader {
  flex: 0 0 60%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.ListItemHeader h2 {
  font-size: 1.75rem;
  margin: 0px; 
  overflow: hidden;
  overflow-wrap: break-word;
}

.ListItemHeader iframe {
  flex-grow: 2;
}

.ListItemChatContainer {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  background-color: lightslategrey;
  gap: 0.25rem;
}

.ListItemChatboxHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 0.15rem;
  width: 97.5%;
}

.ListItemChatBoxHeaderBtn {
  background-color: inherit;
  color: white;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}


.ListItemChatBoxHeaderBtn:hover {
  background-color: rgb(140, 161, 182);
}

.ListItemMessagesArea {
  font-size: 1.1rem;
  background-color: lightslategrey;

  flex: 0 2 80%;
  margin: 0 auto;
  width: 97.5%;
  box-sizing: border-box;

  overflow: auto;
  overflow-wrap: anywhere;

  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.ListItemSendMessages {
  align-self: flex-end;
  margin: 0 auto;
  
  flex: 0 0 13.5%;
  width: 97.5%;
  box-sizing: border-box;

  background-color: rgb(191, 203, 214);
  resize: none;
}

.ListItemMessageContainer {
  width: 100%;
}

.ListItemMessage {
  
  position: relative;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.ListItemMessageDeleteBtn {
  background-color: inherit;
  color: red;
  cursor: pointer;
  margin: 0;
  border: none;
}

.ListItemMessageDeleteBtn:hover {
  background-color: rgb(175, 192, 209);
}

.ListItemMessageContainer:hover {
  background-color: rgb(140, 161, 182);
}

.ListItemMessageTimestamp:hover {
  background-color: rgb(175, 192, 209);
  cursor: pointer;
}

.ListItemMessageText:hover {
  cursor: copy;
}

.ListItemSendMessages:active, .ListItemSendMessages:focus {
  background-color:white;
}

.ListItemLastMessage {
  background-color: red;
}

.Youtube-Iframe {

}

.CenterNoWidth {
  text-align: center;
}

.CenterWithWidth {
  margin: 0 auto;
}

.Scrollable-Element {
  scrollbar-width: thin;
}

.Hidden-Scrollable-Element {
  scrollbar-width: none;
}

.FormContainer {
  display: flex;
  flex-direction: column;
  width: 40rem;
  margin: 0rem auto;
}